*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Cairo',sans-serif;
}

body{
    overflow:hidden;
    width:100vw;
    height:100vh;
    background:linear-gradient(135deg,#ffd6ec,#ffe9f8,#fff4fb);
    display:flex;
    justify-content:center;
    align-items:center;
}

.background{
    position:fixed;
    inset:0;
    background:linear-gradient(135deg,#ffd6ec,#fff0f8);
    background-size:400% 400%;
    animation:bgMove 12s ease infinite;
    z-index:-5;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.scene{
    position:absolute;
    width:100%;
    height:100%;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:30px;
    animation:fade .8s;
}

.scene.active{
    display:flex;
}

h1{
    font-size:55px;
    color:#ff3b92;
    margin-bottom:20px;
}

h2{
    font-size:70px;
    color:#ff3b92;
    margin:20px 0;
    text-shadow:0 0 20px #ff8fc3;
}

p{
    font-size:24px;
    color:#555;
    line-height:1.8;
    margin-bottom:30px;
}

button{
    border:none;
    background:#ff5ea8;
    color:white;
    padding:16px 45px;
    border-radius:50px;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 10px 25px rgba(255,94,168,.4);
}

button:hover{
    transform:scale(1.08);
}

.flowers,
.butterflies,
.sparkles{
    position:fixed;
    inset:0;
    pointer-events:none;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(40px) scale(.95);
    }
    to{
        opacity:1;
        transform:translateY(0) scale(1);
    }
}
.butterfly{
    position:fixed;
    width:60px;
    z-index:999;
    pointer-events:none;
    animation:flap .35s infinite alternate;
}

@keyframes flap{
    from{
        transform:scale(1) rotate(-6deg);
    }
    to{
        transform:scale(1.08) rotate(6deg);
    }
}
